<script src="~/Scripts/plugins/chart.js"></script>
<div class="col-sm-12">
    <div class="col-md-12">
        <canvas id="DesarrolladorTask" width="256" height="175"></canvas>
    </div>

</div>
<script>
    /*
    http://www.chartjs.org/docs/latest/
    http://jsfiddle.net/p3g07d09/
    */
    $(document).ready(function () {
        var ctxx = $("#DesarrolladorTask").get(0).getContext("2d");
        var datos = {
            labels:['Asignados','Desarrollo','Finalizados','Rechazados'],
            datasets: [{
                label:'point',
                data: [10, 20, 30,15],
                backgroundColor: ['#03A9F4', '#B3E5FC', '#81C784', '#E57373']
            }],
        };
        var myDoughnutChart = new Chart(ctxx, {
            type: 'doughnut',
            data: datos,
            options: {
                animation: {
                    animateScale:true
                }
            }
        });
    });
</script>
