@*<script src="~/Scripts/jquery-3.2.1.min.js"></script>*@
<script src="~/Scripts/plugins/chart.js"></script>
<div class="col-sm-12">
    <div class="col-md-12">
        <canvas id="TaskTiempo" width="800" height="600"></canvas>
    </div>

</div>
<script>
    /*
    http://www.chartjs.org/docs/latest/
    http://jsfiddle.net/p3g07d09/
    */
    var ctx = document.getElementById("TaskTiempo").getContext('2d');
var myBarChart = new Chart(ctx, {
    type: 'bar',
    //type: 'horizontalBar',
    data: {
        labels: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
        datasets: [{
            label: "No aplico",
            backgroundColor: "rgba(255, 99, 132, 0.2)",
            data: [3, 7, 4, 5, 8, 9, 2, 10, 9, 4, 5, 4],
            borderColor: 'rgba(255,99,132,1)',
            borderWidth: 1
        }, {
            label: "Aplico",
            backgroundColor: "rgba(54, 162, 235, 0.2)",
            data: [3, 7, 4, 5, 8, 9, 2, 10, 9, 4, 5, 4],
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
        }],

    },
});
</script>
