#contenedor {
background:#f1f1f1;
}
.modal-header label {
    font-size:12px;
    color:#717171;
}

.FotoPerfil {
    width:30px;
    height:30px;
}
.bordes {
 border-top: 0.1px solid #747373;
 border-bottom: 0.1px solid #747373;
}
